form {
    
}


.form-group {
    /* width: 100%; */
}

.form-group input {
    /* all: unset; */
    border: 1px solid black;
    padding: 15px;
    width: 100%;
    outline: none;
    border-radius: 15px;
}

.form-group input:last-child {
    margin: 10px 0;
}

.btn-primary {
    background-color: #c63800;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}